/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ---- main CSS starts hear ---- */
body {
  background-color: #10b981;
  font-family: "Roboto", sans-serif;
}

.main-page {
  display: grid;
  grid-template-rows: repeat(6, 150px);
  grid-template-columns: repeat(6, 1fr);
}
/* Left side */
.left-side {
  background-color: #0f172a;
  grid-area: 1 / 1 / 7 / 2;
  display: grid;
  grid-template-rows: 150px repeat(4, 30px);
}

.options {
  border: solid 1px red;
}

.options img:hover {
  cursor: pointer;
}

.left-side h1 {
  color: rgb(210, 210, 210);
}

/* Header */
.header-page {
  background-color: #d1fae5;
  border: solid 1px red;
  grid-area: 1 / 2 / 2 / 7;
}

/* Work main focus */
.recent-work {
  grid-area: 2 / 2 / 7 / 6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 23px 1fr 1fr;
  gap: 10px;
  padding: 4px;
}

.work-title {
  font-family: "Roboto", sans-serif;
  font-size: larger;
  grid-column: span 3;
}

.work {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  padding: 3px;
}

.work p {
  padding-top: 6px;
}

.work h1 {
  font-style: italic;
}

/* Right side */
.right-side {
  grid-area: 2 / 7 / 7 / 6;
}

.announcements,
.fav-contacts {
  display: flex;
  flex-direction: column;
  margin-top: 37px;
}

.fav-contacts {
  margin-top: 50px;
}

.anc-h1,
.favs-h1 {
  font-style: italic;
  margin-left: 3px;
}

.upcoming,
.person {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  padding: 3px;
  margin: 3px;
  height: auto;
}

.person p,
.upcoming p {
  font-size: small;
  padding: 5px 0px 0px;
}

.add {
  padding: 3px;
  padding-top: 10px;
}
.add:hover {
  cursor: pointer;
  color: rgb(67, 67, 67);
}
