/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* main CSS starts hear*/
body {
  background-color: rgb(207, 207, 207);
}

.main-page {
  display: grid;
  gap: 4px;
  grid-template-rows: repeat(6, 150px);
  grid-template-columns: repeat(6, 1fr);
}
/* Left side */
.left-side {
  background-color: darkslategray;
  border: solid 1px red;
  grid-area: 1 / 1 / 7 / 2;
}

/* Header */
.header-page {
  background-color: rgb(255, 255, 255);
  border: solid 1px red;
  grid-area: 1 / 2 / 2 / 7;
}

/* Work main focus */
.recent-work {
  /* background-color: blueviolet; */
  border: solid 1px red;
  grid-area: 2 / 2 / 7 / 6;
}

/* Right side */
.right-side {
  /* background-color: blue; */
  border: solid 1px red;
  grid-area: 2 / 7 / 7 / 6;
}
